.weather-icon {

    font-size: 24px;
    margin-left: 10px;
}

.weather-icon.sun {

    color: #f0ad4e;

}

.weather-icon.cloud {
    color: #778899;

}

.weather-icon.cloud-rain {

    color: #007bff;

}

.weather-icon.cloud-heavy-rain {

    color: #343a40;

}

.weather-icon.lightning {

    color: #ffc107;

}